<%= stylesheet_link_tag "meetups", :media => "all" %>
<head>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
  <div class="">
  <h1>Plan a run</h1>
  <div class="instructions">
    <p> 1. Pick your meeting spot by clicking on the map </p>
    <p> 2. Give your meetup spot a description </p>
    <p> 3. Press create meetup  </p>
  </div>
  <div id="form">
    <%= render 'form', meetup: @meetup %>
  </div>
    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px; position: absolute;'>
        <%= javascript_pack_tag 'mapLogic' %>
      </div>
    </div>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{@api_key}&callback=window.initAutocomplete&libraries=places&v=weekly" %>
  </div>
</body>
