<p>
  <strong>Location description</strong> <br />
  <%= @meetup.name %>
</p>

<body>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'>
      <%= javascript_pack_tag 'mapLogic' %>
    </div>
  </div>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{@api_key}&callback=window.initAutocomplete&libraries=places&v=weekly" %>
</body>
