<p>

<h3> <strong>Name:</strong> <%= @user.first_name %> </h3> <br />
<h3> <strong>Email:</strong> <%= @user.email %> </h3> <br />
<% if @user.profile_pic.attached? %>
  <% image = @user.profile_pic %>
<% else %>
  <% image = 'default.jpg' %>
<% end %>
<%= image_tag(image, class: "profile_pic") %> <br />
<% if current_user.id == @user.id %>
  <%= link_to "Edit", edit_user_registration_path %>
<% end %>
</p>
