/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.ex4 .parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header-container {
    width: 1000px;
    height: 100px;
    /* margin: auto; */
  }

.pace-logo {
  width: 100px;
  float: left;
  }

header {
  background: rgb(250, 222, 222)
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 35px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  background-color:rgb(230, 230, 230);
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 50px;
  margin-bottom: 0px;
  clear: both;
}

.top2 {
  margin: 0px;
  text-align: center;
}

.top2a {
  display: inline-block;
}

.top2a img {
  width: 270px;
  margin-right: 20px;
}

.top2b {
  padding: 22px 6px 16px 16px;
  font: normal 15px 'Open Sans',arial;
  display: inline-block;
  vertical-align: top;
}

.top2b a {
  color:rgb(210, 110, 110);
  padding: 26px 20px;
  border-bottom: 0px solid rgb(210, 110, 110);
  text-decoration: none;
  transition: border-bottom 0.2s linear 0s;
}

.top2b a:hover {
  color:rgb(210, 110, 110);
  font-weight: bold;
  background: transparent;
  text-decoration: none;
  border-bottom: 7px solid rgb(210, 110, 110);
}

.top3 {
  margin: 0px;
  text-align: absolute;
  left: +60px
}

.bar1, .bar2, .bar3 {
  width: 46px;
  height: 6px;
  background:rgb(210, 110, 110);
  margin: 5px 3px;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}

.change .bar2 {
  opacity:0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

#topmenu {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 42px;
  right: 80px;
  display: none;
  cursor: pointer;
}

#menu2 {
  position: absolute;
  visibility: hidden;
  display: none;
  width: 100%;
  background:rgba(210, 110, 110, 0.7);
  top: 85px;
  padding: 10px 0px;
  z-index: 8;
}

#menu2 ul {
  list-style: none;
  padding: 0px;
  text-align: center;
  padding-inline-start: 0px;
  margin-left: -75px;
}

#menu2 li a {
  color:white;
  font-size: 130%;
  padding: 8px;
  display: block;
  text-decoration: none;
}

#menu2 li a:hover {
  background:rgb(210, 110, 110);
  color:white;
}

@media only screen and (max-width:940px) {
.top2b a {padding:26px 0px;}
}

@media only screen and (max-width:740px) {
.top2a {position:absolute; top:4px; left:1px;}
.top2a img {width:200px; margin:-2px 0px 0px 2px;}
.top2b {display:none;}
#topmenu {display:inline-block;}
#menu2 {visibility:visible;}
#cookies {margin:0px auto; left:0px; width:350px; max-width:calc(100% - 12px);}
}
