.main-body {
  /* background-color: #f9fafb; */
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

h2{
  padding: 12px 24px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.my-conversations{
  padding: 12px 24px;
  text-align: center;

}

.conversations{
  font-family: 'Open Sans', sans-serif;
  background-color: #a8dadc;
  border-radius: 8px;
  padding: 5px 10px;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
