label{
  display: table-cell;
  text-align: right;
  padding: 10px;
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
}

input {
  display: table-cell;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}

div.field{
  display:table-row;
}

div.actions{
  display:table-row;
}

a {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
}

a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}