label{
  display: table-cell;
  text-align: right;
  padding: 10px;
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
}
input {
  display: table-cell;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}

div.field{
  display:table-row;
}
div.actions{
  display:table-row;
}

.main-body {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h3{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
}

a{
  font-family: 'Open Sans', sans-serif;
}
