label{
  display: table-cell;
  text-align: center;
  padding: 5px;
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
}

.actions_centered{
  margin-left: 2%;
  margin-top: 2%;
}

div.field{
  display:table-row;
  margin: 3px;
}

div.actions{
  display:table-row;
  margin: 3px;
}

.form-body {
  /* width: 20%; */
  opacity: 0.6;
  margin: auto;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.login-form-body {
  /* width: 20%; */
  opacity: 0.6;
  margin: 15%;

  align-items: center;
  display: inline-flex;
  justify-content: center;
}

/* this is LOGIN and SIGN UP */
form.new_user{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  padding: 4%;
  background-color: rgba(255, 255, 255, 0.7);
}

/* this is EDIT */
form.edit_user{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.7);
}

.form_button input {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(250, 132, 132);
  border: none;
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 10px;
}

h3{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
}

a {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
}

a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
