label{
  display: table-cell;
  text-align: center;
  padding: 5px;
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
}



div.field{
  display:table-row;
  margin: 3px;
}

div.actions{
  display:table-row;
  margin: 3px;
}

.form-body {
  /* width: 20%; */
  opacity: 0.6;
  margin: auto;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

/* this is LOGIN and SIGN UP */
form.new_user{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  padding: 4%;
  background-color: rgba(255, 255, 255, 0.7);
}

/* this is EDIT */
form.edit_user{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.7);
}




h3{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
}


/* button {
  background-color:#ffa292;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
} */

a {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
}

a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
