.background {
  background-image: url('fun_light.jpg');
  min-height: 900px;
  width: 100%;
}

.landing_page_background {
  min-height: 100vh;
  background-image: url('run2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.landing_page_logo {
  max-width: 50%;
}

.slogan p {
  font-size: 20px;
  color: #ffffff;
}

.main-body {
  width: 20%;
  opacity: 0.6;
  margin: auto;
  align-items: center;
  display: inline-flex;
}

.user-container {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow:0px 0px 7px 0px rgba(191, 184, 184, 0.92);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  min-width: 150px;
  max-width: 250px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

.user-container:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.user-details {
  padding: 20px;
  display: inline-block;
}

.profile_pic {
  width: 70%;
  padding: 20px;
  border-radius: 50%;
}

.landing_page_content {
  display: grid;
  place-items: center;
  padding: 20%
}

.button_to {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_loggedout {
	cursor: pointer;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 99%;
	text-decoration: none;
  text-align: center;
  width: 30%;
  align-items: center;
  padding: 5px;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 0.4);
}

.button_loggedout:hover {
	background-color:rgba(251, 138, 138, 0.3);
}
.button_loggedout:active {
	position:relative;
	top:1px;
}

input:focus {
  outline: none;
  border-color: rgb(248, 82, 82);
  box-shadow: 0 0 15px rgb(248, 199, 199);
}

input#user_profile_pic{
  width: 95%;
}

select{
  width: 90%;
  border-color: rgb(179, 177, 177);
  height: 28px;
  border-style: inset;
  border-width: 2px;
}

.searchButton {
  font-family: 'Open Sans', sans-serif;
  width: 170px;
  height: 30px;
  border: 1px solid rgb(245, 224, 224);
  background: rgb(245, 224, 224);
  text-align: center;
  color: rgb(255, 147, 147);
  cursor: pointer;
  font-size: 12px;
  margin-left: 3px;
}

.searchButton:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.search {
  margin-top: 15px;
  position: relative;
  margin: 0 auto;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 31em
}

.search_box {
  text-align: center;
  border: none;
  border-radius: 50px;
  font-size: 13px;
  border-color: rgb(250, 132, 132);
  box-shadow: 0 0 10px rgb(248, 199, 199);
  margin-left: 18px;
  width: 90%;
  border-color: rgb(179, 177, 177);
  height: 24px;
}

.user_home_button {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(250, 132, 132);
  border: none;
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 10px;
}

.magnifying_glass {
  background: none;
  border: none;
  font-size: 22px;
  margin-left: 20px;
  display: none;
}

.magnifying_glass:hover {
  transform: scale(1.2);
  transition: 0.5s;
}


