.background {
  background-image: url('smaller_fun.png');
  min-height: 800px;
  width: 100%;
  /* background: rgb(126,12,12);
  background: linear-gradient(90deg, rgba(126,12,12,1) 0%, rgba(255,219,219,1) 72%); */
}

.landing_page_background {
  min-height: 100vh;
  background-image: url('sea_bg.jpg');
  width: 100%;
  background-repeat:no-repeat;
}

.landing_page_logo{
  max-width: 50%;
}

.main-body {
  /* background-color: #f9fafb; */
  /* background-color: red; */
  /* margin-left: auto;
  margin-right: auto; */
  width: 20%;
  opacity: 0.6;
  margin: auto;
  /* text-align: center; */
  align-items: center;
  display: inline-flex;
}

.user-container {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow:0px 0px 7px 0px rgba(191, 184, 184, 0.92);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  min-width: 150px;
  max-width: 250px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
}

.user-details {
  padding: 20px;
  display: inline-block;
}

.profile_pic {
  width: 70%;
  padding: 20px;
  border-radius: 50%;
}

.landing_page_content{
  display: grid;
  place-items: center;
  padding: 20%
}

.button_to {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_loggedout {
	display: inline-flex;
	cursor: pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 99%;
	text-decoration:none;
  text-align: center;
  width: 15%;
  align-items: center;
  padding: 5px;
  /* border: 1px solid grey; */
  border-radius: 3px;
  background-color: rgba(250, 250, 250, 0.3);
}


.button_loggedout:hover {
	background-color:rgba(250, 122, 122, 0.3);
}
.button_loggedout:active {
	position:relative;
	top:1px;
}


input[type="text" i] {
  width: 40%;
  height: 24px;
  border-color: rgb(179, 177, 177);
  border-width: 1px;
}

input[type="text" i]:focus {
  outline: none;
  border-color: rgb(250, 132, 132);
  box-shadow: 0 0 10px rgb(248, 199, 199);
}

.searchButton {
  font-family: 'Open Sans', sans-serif;
  width: 170px;
  height: 30px;
  border: 1px solid rgb(250, 132, 132);
  background: rgb(250, 132, 132);
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.search {
  margin-left: 120px;
  margin-top: 15px;
}
