// Place all the styles related to the Meetups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  color: #111; 
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 30px; 
  padding: 2% 3%; 
  text-align: center; 
  // text-transform: uppercase;
}

p {
  text-align: center;
  color: #111; 
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 15px; 
  // text-transform: uppercase;
}

#meetup_name {
  text-align: center;
}

#map {
  margin: 5%;

   
}

#form {
  text-align: center;
  margin-left: 42%;
  margin-right: 42%;
  display: flex;
}

.field {
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 20px; 
  text-align: center; 
  display: inline-block !important;
}

