.message_sent {
  padding: 12px 24px;
}

.message_received {
  padding: 12px 24px;
}

.sent_bubble {
  font-family: 'Open Sans', sans-serif;
  background-color: #fec5bb;
  border-radius: 8px;
  padding: 5px 10px;
  float: right;
}

.received_bubble {
  font-family: 'Open Sans', sans-serif;
  background-color: #a8dadc;
  border-radius: 8px;
  padding: 5px 10px;
  float: left;
}

.sent_bubble_meta {
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  padding: 1px 10px;
  float: right;
  line-height: 10%
}

.received_bubble_meta {
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  padding: 1px 10px;
  float: left;
  line-height: 10%
}

.message_body{
  align-content: right;
  border-radius: 20px;
}

.message_area {
  width: 400px;
  height: 75px;
  border: solid black 1px;
  border-radius: 4px;
  align-content: center;
}

/* .input_message_form {
  display: flex;
  align-items: center;
} */

/* input {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  width: 175px;
  background-color: #fb9685;
} */
