.messages-body {
  width: 20px;
  margin: auto;
  align-items: center;
  width: 80%;
}

.message_sent {
  padding: 12px 24px;
}

.message_received {
  padding: 12px 24px;
}

.sent_bubble {
  font-family: 'Open Sans', sans-serif;
  background-color: #fec5bb;
  border-radius: 8px;
  padding: 5px 10px;
  float: right;
}

.received_bubble {
  font-family: 'Open Sans', sans-serif;
  background-color: #a8dadc;
  border-radius: 8px;
  padding: 5px 10px;
  float: left;
}

.sent_bubble_meta {
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  float: right;
  line-height: 10%
}

.received_bubble_meta {
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  float: left;
  line-height: 10%
}

.message_body{
  align-content: right;
  border-radius: 20px;
}

.message_area {
  width: 250px;
  height: 50px;
  border: solid black 1px;
  margin-left: 10px;
}

.send_message_button {
  background-color:#ffa292;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 60px;
  margin-left: 10px;
}
