/* // Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */
.profile-background {
  min-height: 100vh;
}

.profile-body {
  flex-direction: column;
  width: 20px;
  margin: auto;
  align-items: center;
  display: inline-flex;
  width: 20%;
}

.user-container-profile {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  box-shadow:0 0 15px 4px rgba(248, 139, 139, 0.472);
  padding: 20% 20% 20% 20%;
  min-width: 350px;
  max-width: 350px;
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
} 

.user-endorsements-container {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  padding: 20% 20% 20% 20%;
  min-width: 350px;
  max-width: 350px;
  box-shadow:0 0 15px 4px rgba(248, 139, 139, 0.472);
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.user-details {
  padding: 20px;
  display: inline-block;
}

.profile_pic {
  width: 70%;
  padding: 20px;
  border-radius: 50%;
}

.new_endorsement input {
  width: 20px;
  height: 20px;
}

.hover_over_thumbs_up {
  border: none;
}

.message_area {
  width: 100px;
  
}
